<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div *ngFor="let item of items">
        <div class="card" style="margin-bottom: 50px;">
          <div class="card-header">
            {{item.name}}
          </div>
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{item.description}}</p>
            <a (click)="openLink(item.html)" class="btn btn-primary" style="color: white;">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>